@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  /* overflow: hidden; */
  /* background: url(http://billr.me/images/bg2.png) repeat; */
}

.bd{
  background: url(http://billr.me/images/bg2.png) repeat;

}

.landingNav{
  height: 55px;
  width: 100%;
  /* background:#027254; */
  background: url(http://billr.me/images/bg.png) repeat;
  color: white;
}

.landing-foot{
  height: 70px;
  width: 100%;
  /* background:#027254; */
  background: url(http://billr.me/images/bg.png) repeat;
  color: #027254;
  /* position:fixed;top:0;right:0;left:0;z-index:1030 */
  text-align: center;
}
a {
  text-decoration: none;
  color:#d33c50;
  transition: color .5s;
}
a:hover{
  text-decoration: none;

  color:whitesmoke;
}

.fixed-top{
  position:fixed;top:0;right:0;left:0;z-index:1030
}
.float{
  float: right;
  position: absolute;
  top: 10px;
  right: 10vw;
  
}
.float button{
  padding: 5px 18px 5px 18px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.float button:focus{
  outline: none;
}
.loginBtn{
  border: none;
  background: #027254;
  font-size:  17px;
  margin-right: 15px;
}
.SignUp{
  border: none;
  background: #882104;
  font-size:  17px;
  margin-left: 15px;
  
}
.float label{
  font-size:  20px;
}

.landingNav h3{
  font-size: 30px;
  font-weight: normal;
  position: absolute;
  top: 10px;
  left: 10vw;
  
}

.landing-heading{
  text-align: center;
  margin-top: 25px; 
}

.landing-logo{
 vertical-align: text-bottom;
  height: 60px;
}
.landing-header{
  display: inline-block;
  font-size: 60px;
  margin-top: 50px;
  font-weight: normal;
  margin-left: 10px;
}
.landing-desc{
  margin-top: 5px;
  font-size: 25px;
  margin-bottom: 25px;
}
.landing-feature{
  background: #F8F8F2;

  /* background: #f1bac2; */
  /* background: url(http://billr.me/images/bg.png) repeat; */
  /* background: url(http://billr.me/images/bg2.png) repeat; */

  width: 100%;
  height: 500px;
  display: flex;
}


.landing-img{
  max-height: 500px;
  height:100%;
  /* margin: 0% 20% 0% 20%; */
  margin: 0px 150px 0px 150px;
  max-width:230px;
  width:100%;
}
.landing-content{
  margin-top: 55px;
  font-size: 25px;
}
.landing-content ul{
  list-style-type: none;
  font-size: 25px;
  font-weight: normal;
  margin-top: 25px;
}

.landing-content li{

  margin-bottom: 15px;
}
.landing-content i{
  color: #027254;
}
.landing-button{
  float: right;
  padding: 12px 15px 12px 15px;
  color: white;
  background: #027254;
  border-radius: 5px;
  margin-top: 15px;
  font-size: 20px;
  cursor: pointer;
  border: none;
}
.landing-button:focus{
  outline: none;
}

.landing-name{
  font-size:large;
  cursor: pointer;
  color: white;
}